body{
    background-color: #171717;
    font-family: sans-serif;
}
.container {
    width: 1460px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 37px;
    margin-bottom: 120px;

}
.logo{
    display: flex;
    align-items: center;

}
.logo-tel{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    color: #E4B564;
    margin-left: auto;
    padding-left: 20px;

}
.logo-text{
    margin-left: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    flex-grow: 1;
}
h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;

}
.text{
    width: 1182px;
    height: 56px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-top: 40px;
}
.our-works{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 468px 468px;
    gap: 25px;
    grid-auto-columns: auto;
    margin-bottom: 160px;
    padding: 0;

}
.our-work-name{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.under{
    width: 380px;
    height: 56px;
    text-align: center;
}
.our-work{
    display: flex;
    justify-content: center;
    align-items: center;

}
.item_1{
    grid-area: 1/1/2/3;
    background: #634F2C;
}
.item_2{
    grid-area: 1/3/2/5;
    background: #B4A385;

}
.item_3{
    grid-area: 1/5/2/7;
    background: #E4B564;
}
.item_4{
    grid-area: 2/1/3/4;
    background: #635A4A;
}
.item_5{
    grid-area: 2/4/3/7;
    background: #B08C4D;
}

/*<==============================Park========================================>*/
.our-park{
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    gap: 30px;
    padding-left: 0;
    list-style: none;
    align-content: flex-start;
    height: 925px;
    margin-bottom: 190px;
    margin-top: 95px;
}
.our-park-name{
    width: 467px;
    padding-top: 44px;
    padding-left: 52px;
}
.our-park-text{
    width: 302px;
}
.park_1{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    background: #0E0E0E;
    min-height: 313px;
    order: 1;
}
.park_2{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    background: #242424;
    min-height: 440px;
    order: 3;

}
.park_3{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    background: #1F1F1F;
    min-height: 255px;
    order: 5;
}
.park_4{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    background: #1F1F1F;
    min-height: 560px;
    order: 2;
}
.park_5{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    background: #0E0E0E;
    min-height: 313px;
    order: 6;
}
.park_6{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    background: #E4B564;
    min-height: 405px;
    order: 4;
}
.park_7{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    background: #0A0909;
    min-height: 277px;
    order: 7;
}

/*<==============================section 3===================================>*/


.project{
    width: 100%;
    background: #0E0E0E;
    margin-bottom: 240px;

}
.logo-tel_2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E4B564;
    width: 180px;
    height: 50px;
    color: #E4B564;
    margin-left: auto;
}
.our-project-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 145px;
    margin-bottom: 60px;
}
.our-project{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 468px 468px;
    grid-auto-columns: auto;
    margin: 0;
    padding: 0;
}

.our-work-name{
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}

.our-project-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.project_1{
    background: #634F2C;
}
.project_2{
    background: rgba(232, 210, 171, 0.76);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.our-work-name-mavis{
    width: 326px;
    height: 140px;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
}
.project_3{
    background: #E4B564;
}
.project_4{
    background: #635A4A;
}
.project_5{
    background: #B08C4D;

}
.project_5::before{
    content: "";
    display: inline-block;
    height: 52px;
    width: 52px;
    background-image: url(../img/kvadrat.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 39px;
    top: 2px;
}
.project_6{
    background: #634F2C;
}


